n8n/rag_pipeline.json
{
  "name": "RAG Pipeline — PDF vers Chroma",
  "active": false,
  "versionId": "1",
  "id": "rag-pipeline-001",
  "meta": {
    "instanceId": "upline-rag-pipeline"
  },
  "tags": [
    {
      "name": "RAG"
    },
    {
      "name": "Upline"
    }
  ],
  "nodes": [
    {
      "id": "sticky-main",
      "name": "Guide du Workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -180
      ],
      "parameters": {
        "content": "# RAG Pipeline Upline.ai\n\n## But\nTransformer un PDF MLM en chunks Markdown avec métadonnées → Chroma via Flowise\n\n## Etapes\n1. Lire PDF\n2. Gotenberg → HTML\n3. HTML → Markdown + chunks 500 mots\n4. DeepSeek → métadonnées JSON\n5. Flowise → Chroma\n\n## Credentials requis dans n8n\n- DeepSeek API : Header Auth → Authorization: Bearer sk-...\n- Flowise Store ID : à remplacer dans noeud Flowise\n\n## Fichier PDF\nDoit être dans /data/documents/ sur le VPS",
        "height": 320,
        "width": 300,
        "color": 4
      }
    },
    {
      "id": "node-trigger",
      "name": "Declencheur Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        560,
        300
      ],
      "parameters": {}
    },
    {
      "id": "node-read",
      "name": "Lire le PDF",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        780,
        300
      ],
      "parameters": {
        "filePath": "={{ $json.filePath || '/data/documents/big_al.pdf' }}"
      }
    },
    {
      "id": "node-gotenberg",
      "name": "Gotenberg PDF vers HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg-usc6-gotenberg-1:3000/forms/libreoffice/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-chunks",
      "name": "HTML vers Markdown et Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        300
      ],
      "parameters": {
        "jsCode": "const html = String($input.first().json.data || $input.first().json.body || '');\nconst MOTS_MAX = 500;\nconst MOTS_MIN = 50;\n\nlet md = html\n  .replace(/<h1[^>]*>(.*?)<\\/h1>/gi, '# $1\\n\\n')\n  .replace(/<h2[^>]*>(.*?)<\\/h2>/gi, '## $1\\n\\n')\n  .replace(/<h3[^>]*>(.*?)<\\/h3>/gi, '### $1\\n\\n')\n  .replace(/<strong[^>]*>(.*?)<\\/strong>/gi, '**$1**')\n  .replace(/<b[^>]*>(.*?)<\\/b>/gi, '**$1**')\n  .replace(/<em[^>]*>(.*?)<\\/em>/gi, '*$1*')\n  .replace(/<li[^>]*>(.*?)<\\/li>/gi, '- $1\\n')\n  .replace(/<p[^>]*>(.*?)<\\/p>/gi, '$1\\n\\n')\n  .replace(/<br\\s*\\/?>/gi, '\\n')\n  .replace(/<[^>]+>/g, '')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nconst sections = [];\nconst lines = md.split('\\n');\nlet chunk = [];\nlet titre = 'Introduction';\nlet mots = 0;\nlet idx = 0;\n\nfor (const line of lines) {\n  if ((line.startsWith('# ') || line.startsWith('## ')) && chunk.length > 0) {\n    const content = chunk.join('\\n').trim();\n    const w = content.split(/\\s+/).length;\n    if (w >= MOTS_MIN) { idx++; sections.push({ index: idx, titre, contenu: content, mots: w }); }\n    titre = line.replace(/^#+\\s/, '').trim();\n    chunk = [line];\n    mots = 0;\n  } else {\n    chunk.push(line);\n    mots += line.split(/\\s+/).filter(w => w.length > 0).length;\n    if (mots >= MOTS_MAX) {\n      idx++;\n      sections.push({ index: idx, titre: titre + ' suite', contenu: chunk.join('\\n').trim(), mots });\n      chunk = [];\n      mots = 0;\n    }\n  }\n}\n\nif (chunk.length > 0) {\n  const content = chunk.join('\\n').trim();\n  const w = content.split(/\\s+/).length;\n  if (w >= MOTS_MIN) { idx++; sections.push({ index: idx, titre, contenu: content, mots: w }); }\n}\n\nconsole.log('Total chunks:', sections.length);\nreturn sections.map(s => ({ json: s }));"
      }
    },
    {
      "id": "node-deepseek",
      "name": "DeepSeek Metadonnees",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1440,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"deepseek-chat\",\n  \"max_tokens\": 300,\n  \"temperature\": 0.1,\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"Expert MLM. Retourne UNIQUEMENT du JSON valide sans markdown. Format: {\\\"module\\\": string, \\\"difficulte\\\": string, \\\"type\\\": string, \\\"tags\\\": [string], \\\"resume\\\": string}. module: prospection|invitation|presentation|suivi|recrutement|mindset|leadership|general. difficulte: debutant|intermediaire|expert. type: technique|anecdote|exercice|script|principe.\"},\n    {\"role\": \"user\", \"content\": \"Titre: {{ $json.titre }}\\nContenu: {{ $json.contenu.substring(0, 600) }}\"}\n  ]\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "deepseek-cred",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "id": "node-prepare",
      "name": "Preparer Upsert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        300
      ],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst chunk = $('HTML vers Markdown et Chunks').first().json;\n\nlet meta = {};\ntry {\n  const content = response.choices[0].message.content;\n  meta = JSON.parse(content.replace(/```json|```/g, '').trim());\n} catch(e) {\n  meta = { module: 'general', difficulte: 'debutant', type: 'principe', tags: ['mlm'], resume: chunk.titre };\n}\n\nreturn [{ json: {\n  text: chunk.contenu,\n  metadata: { ...meta, titre: chunk.titre, index: chunk.index, mots: chunk.mots, langue: 'fr', source: 'big_al', indexed_at: new Date().toISOString() }\n}}];"
      }
    },
    {
      "id": "node-flowise",
      "name": "Flowise vers Chroma",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1880,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://flowise-nsfn.srv1651221.hstgr.cloud/api/v1/vector/upsert/TON_STORE_ID_ICI",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ \"texts\": [{{ JSON.stringify($json.text) }}], \"metadata\": [{{ JSON.stringify($json.metadata) }}] }",
        "options": {}
      }
    }
  ],
  "connections": {
    "Declencheur Manuel": {
      "main": [
        [
          {
            "node": "Lire le PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lire le PDF": {
      "main": [
        [
          {
            "node": "Gotenberg PDF vers HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF vers HTML": {
      "main": [
        [
          {
            "node": "HTML vers Markdown et Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML vers Markdown et Chunks": {
      "main": [
        [
          {
            "node": "DeepSeek Metadonnees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Metadonnees": {
      "main": [
        [
          {
            "node": "Preparer Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparer Upsert": {
      "main": [
        [
          {
            "node": "Flowise vers Chroma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}